.header {
  background-color: rgb(44, 44, 44);
  display: flex;
  color: white;
}

.green-box {
  width: 50px;
  background-color: rgb(0, 59, 36);
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: rgb(0, 184, 113);
}